#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.detailTable, .detailHeader, .detailRow, .detailData {
  border: 1px solid black;
}

.detailHeader {
  padding: 5px;
}

.submitBox {
  padding: 10px;
  border: 2px solid black;
}
